<li>
	<%= link_to user.first_name + " "+ user.last_name, user %>

	| <%= link_to "Edit", edit_user_path(user) %> 
	| <%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %> 
</li>