<% provide(:title, 'All users') %>
<h2>All users</h2>

<div><%= link_to "+ Add User", '/add/user' %></div>
<table class="table">
	<thead class="thead-default">
		<tr>
		  <th>Name</th>
		  <th>Email</th>
		  <th>Date Of Birth</th>
		  <th>Address</th>
		  <th>City</th>
		  <th>Country</th>
		</tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>
<div><%= paginate @users %></div>
